{% extends "base.html" %}

{% block content %}
    <!--Add htmx headers hear, ca-->
    <div class="flex flex-col mx-auto container">
        <h2 class="font-semibold text-2xl mt-12 text-gray-700">Search Metrics</h2>
        <div class="flex my-3 space-x-2">
            <button hx-post="{% url "search_metrics:seed-db" %}" hx-indicator="#seeddb" hx-target="#tableContainer" hx-swap="outerHTML"
                    class="inline-flex items-center px-1 py-1.5 border border-gray-300 dark:border-gray-100 shadow-sm
                           text-xs font-medium rounded text-gray-700 dark:text-white bg-white dark:bg-gray-600 hover:bg-gray-50
                           dark:hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                &#10010; Seed DB
            </button>
            <button hx-delete="{% url "search_metrics:clear-db" %}" hx-indicator="#cleardb" hx-target="#tableContainer" hx-swap="outerHTML"
                    class="inline-flex items-center px-1 py-1.5 border border-gray-300 dark:border-gray-100 shadow-sm
                           text-xs font-medium rounded text-gray-700 dark:text-white bg-white dark:bg-gray-600 hover:bg-gray-50
                           dark:hover:bg-gray-800 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                &#10007; Clear DB
            </button>
        </div>
        <div>
            <p id="indicator" class="htmx-indicator indicator">Working ...</p>
            <p id="seeddb" class="htmx-indicator indicator">Adding 100,000 records, this will take a minute or less...</p>
            <p id="cleardb" class="htmx-indicator indicator">Clearing all ...</p>
        </div>
        <div class="mx-auto container mt-5">
            {% include "search_metrics/htmx/table.html" %}
        </div>
    </div>
{% endblock %}
