{% load django_tables2 %}
{% load i18n %}
{% block table-wrapper %}
    <div class="w-full flex flex-col">
        <div class="shadow overflow-hidden border dark:border border-gray-200 sm:rounded-lg max-h-[600px] overflow-y-auto">
            {% block table %}
                <table class="min-w-full divide-y divide-gray-200" {% render_attrs table.attrs %}>
                    {% block table.thead %}
                        {% if table.show_header %}
                            <thead class="bg-gray-50 dark:bg-gray-700 sm:rounded-lg" {{ table.attrs.thead.as_html }}>
                                <tr >
                                    {% for column in table.columns %}
                                        <th class="sticky top-0 px-2 py-1 sm:px-6 sm:py-3 text-left text-xs font-medium text-gray-600 dark:text-gray-300 bg-gray-50 dark:bg-slate-600 uppercase tracking-wider z-20" {{ column.attrs.th.as_html }}>
                                            {% if column.orderable %}
						<a hx-get="{% querystring table.prefixed_order_by_field=column.order_by_alias.next %}"
                            			   hx-target="#tableContainer" hx-swap="outerHTML">{{ column.header }}</a>
                                            {% else %}
                                                {{ column.header }}
                                            {% endif %}
                                        </th>
                                    {% endfor %}
                                </tr>
                            </thead>
                        {% endif %}
                    {% endblock table.thead %}
                    {% block table.tbody %}
                        <tbody class="text-sm font-light bg-white dark:bg-gray-700 sm:rounded-lg" {{ table.attrs.tbody.as_html }}>
                            {% for row in table.paginated_rows %}
                                {% block table.tbody.row %}
                                    <tr class="text-sm text-gray-600 dark:text-slate-200 hover:bg-gray-100" {{ row.attrs.as_html }}>
                                        {% for column, cell in row.items %}
                                            <td class="py-3 px-6" {{ column.attrs.td.as_html }}>{% if column.localize == None %}{{ cell }}{% else %}{% if column.localize %}{{ cell|localize }}{% else %}{{ cell|unlocalize }}{% endif %}{% endif %}</td>
                                        {% endfor %}
                                    </tr>
                                {% endblock table.tbody.row %}
                            {% empty %}
                                {% if table.empty_text %}
                                    {% block table.tbody.empty_text %}
                                        <tr><td colspan="{{ table.columns|length }}">{{ table.empty_text }}</td></tr>
                                    {% endblock table.tbody.empty_text %}
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    {% endblock table.tbody %}
                    {% block table.tfoot %}
                        {% if table.has_footer %}
                            <tfoot {{ table.attrs.tfoot.as_html }}>
                                <tr>
                                    {% for column in table.columns %}
                                        <td {{ column.attrs.tf.as_html }}>{{ column.footer }}</td>
                                    {% endfor %}
                                </tr>
                            </tfoot>
                        {% endif %}
                    {% endblock table.tfoot %}
                </table>
            {% endblock table %}
        </div>
        <div>
            {% block pagination %}
                {% if table.page and table.paginator.num_pages > 1 %}
                    <ul class="flex space-x-3 mt-2 py-2 justify-center items-end">
                        {% if table.page.has_previous %}
                            {% block pagination.previous %}
                                <li>
                                    <button hx-get="{% querystring table.prefixed_page_field=table.page.previous_page_number %}" hx-target="#tableContainer" hx-swap="outerHTML">
                                        &larr;
                                    </button>
                                </li>
                            {% endblock pagination.previous %}
                        {% endif %}
                        {% if table.page.has_previous or table.page.has_next %}
                            {% block pagination.range %}
                                {% for p in table.page|table_page_range:table.paginator %}
                                    <li {% if p == table.page.number %}{% endif %}>
                                        {% if p == '...' %}
                                            <button href="#">{{ p }}</button>
                                        {% else %}
                                            <button {% if p == table.page.number %}class="underline decoration-blue-600" {% else %}class="" {% endif %} hx-get="{% querystring table.prefixed_page_field=p %}" hx-target="#tableContainer" hx-swap="outerHTML">
                                                {{ p }}
                                            </button>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            {% endblock pagination.range %}
                        {% endif %}
                        {% if table.page.has_next %}
                            {% block pagination.next %}
                                <li>
                                    <button class="text-blue-600" hx-get="{% querystring table.prefixed_page_field=table.page.next_page_number %}" hx-target="#tableContainer" hx-swap="outerHTML">
                                        &rarr;
                                    </button>
                                </li>
                            {% endblock pagination.next %}
                        {% endif %}
                    </ul>
                {% endif %}
            {% endblock pagination %}
        </div>
    </div>
{% endblock table-wrapper %}
